



    {% include 'blocks/header.html' %}


    <div class="container px-5 py-24 mx-auto bg-white" style="border-bottom: #2c2c2c solid 5px; border-top: white solid 25px; --tw-bg-opacity: 0.3">


            <div class="GHJcont" style="display:inline-block; float: left;">
                <div class="bg-white p-8 flex  flex-col md:mr-auto ml-auto w-full mt-10 md:mt-0" style="width: 100%; border-radius: 9px; --tw-bg-opacity: 0.9">
                    <form action="vendor/signin.php" method="post">

                        <input type="text" name="login" style="margin-top: 20px; height: 40px; padding: 8px;" placeholder="логин">

                        <input type="password" name="password" style="margin-top: 20px; height: 40px; padding: 8px;" placeholder="пароль">

                            <input type="button" value="Войти" style="margin-top: 15px; margin-bottom: 15px; padding: 5px;" onclick="location.href=&quot;profile.html&quot;">
                            </form>
                        <p>
                            У вас нет аккаунта? - <a href="/registration.html">зарегистрируйтесь</a>!
                        </p>
                        <p class="msg none">Lorem ipsum dolor sit amet.</p>

                </div>
            </div>
                  <div class="popularPRES ">
                    <div class="h-full border-opacity-60 rounded-lg overflow-hidden">

                      <div class="p-6" style="border-top: solid 35px black;">
                        <h2 class="tracking-widest text-black m-0" style="font-size: 30px;">BRUHzdec</h2>
                        <h1 class="text-black mt-5" style="font-size: 14px;"></h1>
                        <p class="leading-relaxed mb-3" style="font-size: 21px;">Сайт BRUHZdec, здесь вы найдёте все самые свежие новости 2220-го года и не только!</p>
                      </div>
                    </div>
                  </div>


    </div>






    {% include 'blocks/footer.html' %}
    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   {% include 'blocks/bcanvas.html' %}


</body>
</html>