<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Rainbow-diagram-ROYGBIV.svg/1200px-Rainbow-diagram-ROYGBIV.svg.png);">
<div style="font-size: 120px;">КОСТЯ ГЕЙ!!!</div>
    <img src="https://lh5.googleusercontent.com/l8sT3OsNswTh7eH07tk-lIe-nm1zVzqnFGXia4nD-rRfg2bu8B_wicgaj-VIALYIIK7WFL4l3uOX1km3QBGMc4PRYDDFL3722p7egUt0yfwio_BRkA0wspFHz7eLLhs8MA=w1280" >
</body>
</html>