<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <title>BRUhzdec</title>
    <link rel="shortcut icon" href="icons/mainico.png" type="image/x-icon">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="main.css">
   </head>
   <body>

    <div class="container px-5 py-24 mx-auto" style="margin-top: 150px;">
        <section class="text-gray-600 body-font">
            <div class="container">
                <div class="lg:w-1/2 md:w-1/2 bg-gray-100  p-8 flex flex-col md:mr-auto ml-auto w-full mt-10 md:mt-0" style="border-radius: 9px;">
                    <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Персональные данные</h2>
                    <div class="relative mb-4">
                        <label for="full-name" class="leading-7 text-sm text-gray-600">ФИО</label>
                        <input value="leonid" type="text" id="full-name" name="full-name" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="relative mb-4">
                        <label for="email" class="leading-7 text-sm text-gray-600">E-mail</label>
                        <input value="larleonxgroup123@gmail.com" type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="relative mb-4">
                        <label for="telep" class="leading-7 text-sm text-gray-600">Телефон</label>
                        <input value="+7-(965)-544-62-97" type="text" id="telep" name="telep" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>

                    <a href="../index.html" class="logout">Выход</a>
                </div>
            </div>
        </section>
    </div>

    <footer class="text-gray-50 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">

                <span class="ml-3 text-xl text-black-50">BRUHzdec</span>
              </a>
         
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a href="https://www.instagram.com/modatel_atelier/" class="text-gray-500">
                <img class="w-10 h-10" src="icons/instagram_48px.png">
            </a>
            <a href="https://tele.click/modatelru" class="ml-3 text-gray-500">
              <img class="w-10 h-10" src="icons/telegram_app_48px.png">
            </a>
            <a href="https://wa.me/79630344555" class="ml-3 text-gray-500">
              <img class="w-10 h-10" src="icons/whatsapp_48px.png">
            </a>
          </span>
        </div>
      </footer>

    </body>
    </html>