    {% include 'blocks/header.html' %}



    <div class="container px-5 py-24 mx-auto bg-white" style="border-bottom: #2c2c2c solid 5px; border-top: white solid 25px; --tw-bg-opacity: 0.3">


            <div class="GHJcont" style="display:inline-block; float: left; height: auto;">
                <div class="bg-white p-8 flex  flex-col md:mr-auto ml-auto w-full mt-10 md:mt-0" style="width: 100%; border-radius: 9px; --tw-bg-opacity: 0.9">
                    <form action="vendor/signin.php" method="post">
                        <h2 class="tracking-widest text-black m-0" style="font-size: 21px;">Создать опрос</h2>
                        <input type="text" name="name_of_question" style="margin-top: 20px; height: 40px; padding: 8px;" placeholder="Название">

                        <input type="text" name="category_of_auestion" style="margin-top: 20px; height: 40px; padding: 8px;" placeholder="Категория">

                        <input type="text" name="category_of_auestion" style="margin-top: 20px; height: 40px; padding: 8px;" placeholder="Вариант ответа:">

                        <div id="parentId"></div>

                        <input type="button" value="Добавить вопрос" style="margin-top: 15px; margin-bottom: 15px; padding: 5px;" onclick="addQuestion()">



                            <input type="button" value="Создать" style="margin-top: 15px; margin-bottom: 15px; padding: 5px;" onclick="location.href=&quot;profile.html&quot;">
                            </form>

                        <p class="msg none">Lorem ipsum dolor sit amet.</p>

                </div>
            </div>
                  <div class="popularPRES mt-10">
                    <div class="h-full border-opacity-60 rounded-lg overflow-hidden">

                      <div class="p-6" style="border-top: solid 35px black;">
                        <h2 class="tracking-widest text-black m-0" style="font-size: 30px;">BRUHzdec</h2>
                        <h1 class="text-black mt-5" style="font-size: 14px;">Самые популярные опросы со всего RUнета</h1>
                        <p class="leading-relaxed mb-3" style="font-size: 21px;">Начиная от внезапного исчезновения груди Бузовой, которое произошло столь же внезапно, как падение рубля в 2027-ом году, заканчивая непредсказуемым ростом Биткоина, правда, Илон Маск?</p>
                      </div>
                    </div>
                  </div>



    </div>
    <div style="margin-top: 50px;"></div>
    <div class="bg-white down_pol_1">Опросы</div>
    <div class="bg-white under_pol_1"></div>


    <div class="slider">
    <div class="item">

        <div class="slideText">
            <div class="mainPRES" style="margin-left: 0px; margin-top: 6rem; height: 380px;">
                    <div class="h-full border-opacity-60 rounded-lg overflow-hidden" style="border-radius: 20px;">
                      <div>
                          <div class="Title_of_question"><h2 class="tracking-widest text-black m-0" style="font-size: 21px;">На сколько долго Костя сможет не смотреть аниме</h2></div>
                        <div class="p-4">
                            <div clas="vr_of_category" style="border-bottom: solid 1px black;">Костя гей</div>

                            <div class="answer_open"><div class="vr_of_question">15ч</div>25</div>
                            <div class="answer_open"><div class="vr_of_question">15ч</div>25</div>
                            <div class="answer_open"><div class="vr_of_question">15ч</div>25</div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>

    <div class="item">

        <div class="slideText">
            <div class="mainPRES" style="margin-left: 0px; margin-top: 6rem; height: 380px;">
                    <div class="h-full border-opacity-60 rounded-lg overflow-hidden" style="border-radius: 20px;">
                      <div>
                          <div class="Title_of_question"><h2 class="tracking-widest text-black m-0" style="font-size: 21px;">На сколько долго Костя сможет не смотреть аниме</h2></div>
                        <div class="p-4">
                            <div clas="vr_of_category" style="border-bottom: solid 1px black;">Костя гей</div>

                            <div class="answer_open"><div class="vr_of_question">15ч</div>25</div>
                            <div class="answer_open"><div class="vr_of_question">15ч</div>25</div>
                            <div class="answer_open"><div class="vr_of_question">15ч</div>25</div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>

    <div class="item">

        <div class="slideText">
            <div class="mainPRES" style="margin-left: 0px; margin-top: 6rem; height: 380px;">
                    <div class="h-full border-opacity-60 rounded-lg overflow-hidden" style="border-radius: 20px;">
                      <div>
                          <div class="Title_of_question"><h2 class="tracking-widest text-black m-0" style="font-size: 21px;">На сколько долго Костя сможет не смотреть аниме</h2></div>
                        <div class="p-4">
                            <div clas="vr_of_category" style="border-bottom: solid 1px black;">Костя гей</div>

                            <div class="answer_open"><div class="vr_of_question">15ч</div>25</div>
                            <div class="answer_open"><div class="vr_of_question">15ч</div>25</div>
                            <div class="answer_open"><div class="vr_of_question">15ч</div>25</div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>

    <a class="prev" onclick="minusSlide()">&#10094;</a>
    <a class="next" onclick="plusSlide()">&#10095;</a>
</div>

<div class="slider-dots">
    <span class="slider-dots_item" onclick="currentSlide(1)"></span>
    <span class="slider-dots_item" onclick="currentSlide(2)"></span>
    <span class="slider-dots_item" onclick="currentSlide(3)"></span>
</div>



    {% include 'blocks/footer.html' %}
    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   {% include 'blocks/bcanvas.html' %}


</body>
</html>