    {% include 'blocks/header.html' %}



    <div class="container px-5 py-24 mx-auto bg-white" style="border-bottom: #2c2c2c solid 5px; border-top: white solid 25px; --tw-bg-opacity: 0.3">


            <div class="GHJcont" style="display:inline-block; float: right; height: auto;">
                <div class="bg-white p-8 flex  flex-col md:mr-auto ml-auto w-full mt-10 md:mt-0" style="width: 100%; border-radius: 9px; --tw-bg-opacity: 0.9">
                    <form action="registration" method="post">
                        <h2 class="tracking-widest text-black m-0" style="font-size: 21px;">Регистрация</h2>
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" style="margin-top: 15px;">
                    </form>

                        <p class="msg none">Lorem ipsum dolor sit amet.</p>

                </div>
            </div>
                  <div class="popularPRES mt-10" style="float: left;">
                    <div class="h-full border-opacity-60 rounded-lg overflow-hidden">
                      <div class="p-6" style="border-top: solid 35px black;">
                        <h2 class="tracking-widest text-black m-0" style="font-size: 30px;">BRUHzdec</h2>
                        <h1 class="text-black mt-5" style="font-size: 14px;">Крупнейший второсортный сайт страны</h1>
                        <p class="leading-relaxed mb-3" style="font-size: 21px;">Есть ли мозги у фемок?</p>
                      </div>
                    </div>
                  </div>
                    <div class="popularPRES mt-10" style="float: left;">
                        <div class="h-full border-opacity-60 rounded-lg overflow-hidden">
                      <div class="p-6" style="border-top: solid 35px black;">
                  <div class="Price_of_regist lg:w-full md:w-full p-4 w-full">
                    <a class="block relative h-48 rounded overflow-hidden">
                      <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://i.ibb.co/cFXBm8M/kostyagay.png">
                    </a>
                    <div class="mt-4">
                      <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1" style="font-size: 20px;">CATEGORY: ШАКАЛ ДИКИЙ</h3>
                      <h2 class="text-gray-900 title-font text-lg font-medium" style="font-size: 15px;">АУФУУФ</h2>
                      <p class="mt-1">$0.00 or FREE</p>
                    </div>
                  </div>
                      </div>
                        </div>
                    </div>


    </div>














    {% include 'blocks/footer.html' %}
    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   {% include 'blocks/bcanvas.html' %}


</body>
</html>
